@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./specs.css");
@import url("./products.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--primary--color-7);
}

:root {
  --primary--color-1: #041239;
  --primary--color-2: #120025;
  --primary--color-3: #011e43;
  --primary--color-4: #091761;
  --primary--color-5: #000000;
  --primary--color-6: #450465;
  --primary--color-7: #fff;
  --primary--color-8: #242424;
  --primary--color-9: #182e9f;
  --primary--color-10: #761ea2;

  --vidro: rgba(255, 255, 255, 0.1);
}

body {
  background: linear-gradient(
    160deg,
    var(--primary--color-5) 25%,
    var(--primary--color-6) 70%
  );
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  padding: 10px 5%;
  position: sticky;
  top: 0;
  z-index: 100;

  & .title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    margin-left: 100px;
  }

  & i {
    font-size: 30px;
  }
}

header .navbar {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(30, 30, 30, 0.8);
  backdrop-filter: blur(8px);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;

  gap: 5rem;
}

.nav_items {
  display: flex;
  list-style: none;
  gap: 40px;
}

header .nav_items li a {
  position: relative;
}

header .nav_items li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: width 0.5s ease;
}

header .nav_items li a:hover::before {
  width: 100%;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.list {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.item {
  background: linear-gradient(
    160deg,
    var(--primary--color-5),
    var(--primary--color-8)
  );
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 85px;

  opacity: 0;
  transform: translateX(100px);
  transition: all 0.6s ease;

  pointer-events: none;
}

.item.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.product_image {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.product_image .image {
  width: 300px;
  filter: drop-shadow(0 0 30px rgba(67, 1, 93, 0.304));
  transform: rotate(25deg) scale(0.9);
  transition: transform 0.6s ease;
}

.image {
  width: 450px;
  height: 450px;
  object-fit: contain;
}

.item.active .image {
  transform: rotate(25deg) scale(1);
}

.content {
  position: relative;
  width: 55%;
  padding-right: 80px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.product_tag {
  font-size: 1rem;
  text-transform: uppercase;
  color: #19bc00;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.product_name {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.description {
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 600px;
  font-weight: 300;
}

.btn {
  position: relative;
  left: 30px;
  padding: 12px 10px;
  background: linear-gradient(
    160deg,
    var(--primary--color-10),
    var(--primary--color-6)
  );
  border-radius: 15px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-left: 150px;
  transition:
    background 0.5s ease,
    transform 0.3s ease-in-out;
}

.btn:hover {
  background: #182e9f;
  transform: scale(1.1);
}

.arrow {
  position: absolute;
  width: 89%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.arrow_item {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(38, 38, 38);
  border: none;
}

.tech_circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(195, 0, 255, 0.2);
}

.circle:nth-child(1) {
  width: 200px;
  height: 200px;
  top: 10%;
  left: 10%;
}

.circle:nth-child(2) {
  width: 300px;
  height: 300px;
  top: 60%;
  left: 80%;
}

.circle:nth-child(3) {
  width: 150px;
  height: 150px;
  top: 70%;
  left: 20%;
}

.circle:nth-child(4) {
  width: 120px;
  height: 120px;
  top: 30%;
  left: 70%;
}
